:root {
  --corner: 10px;
  --shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  --color1: #f8e4d9;
  --color2: #ebc0a9;
  --color3: #28160c;
  --color4: #6a300f;
  --color5: rgb(106, 49, 15, 0.7);
}

.Player {
  margin: 26px auto;
  padding: 12px 40px;
  box-shadow: var(--shadow);
  max-width: 340px;
  border-radius: var(--corner);
  background-color: var(--color2);
  border: solid var(--color5) 1.6px;
}
.Player h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 14px;
}

.Player .musicCover {
  margin: 0;
  height: 220px;
}

.Player .musicCover img {
  border-radius: var(--corner);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Player h3 {
  text-align: center;
  margin: 16px 0 6px;
  font-size: 20px;
  font-weight: 500;
}
.Player .subTitle {
  color: var(--color4);
  width: fit-content;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  text-decoration: none;
  border-bottom: solid 1px var(--color2);

  transition: all 180ms ease-in-out;
}
.Player .subTitle:hover {
  border-bottom: solid 1px var(--color5);
  color: var(--color5);
}

.Player .timeline {
}

.Player .buttons {
  margin: 16px auto 12px;
  max-width: fit-content;
}
.Player .playButton {
  border: none;
  border-radius: 6px;
  padding: 14px;
  background: none;
  margin: 0 10px;
  font-size: 26px;
  line-height: 0;
  transition: all 130ms ease-in-out;
}
.Player .styleButton {
  color: var(--color4);
}
.Player .playButton:hover {
  background-color: var(--color4);
  cursor: pointer;
}
.Player .playButton:hover .styleButton {
  color: var(--color2);
}
